body{
    background-image: url(../images/body-background-3.jpg);
    background-position: 100%;
}
ul li{
    text-align: end;
    list-style: none;
}
.menu-color{
    background-color: #a58484;
    color: rgb(255, 255, 255);
}
.menu-color:hover{
    width: 100%;
    background-color: orange;
    color: #ffffff;
    transition: 1s;
}

@media (max-width:1000px) {
    .desktop-left-menu{
        display: none;
    }
}