body{
    background-image: url(../images/body-background-3.jpg);
    background-position: fixed;
}
.main-part{
    display: flex;
    justify-content: flex-end;
}
ul li{
    text-align: end;
    list-style: none;
}
.menu-color{
    background-color: #a58484;
    color: rgb(255, 255, 255);
}
.menu-color:hover{
    background-color: orange;
    width: 100%;
    color: #ffffff;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.services-photo-frame{
    width: 243px;
    height: 100%;
    border-radius: 10px;
    position: relative;
    margin: 0 5px;
    overflow: hidden;
}
.skill-item:hover{
    transform: translateY(-10px);
}
.photo img{
    width: 100%;
    border-radius: 10px;
}
.photo-detail{
    position: absolute;
    top: 0px;
    display: none;
}
.photo-detail p{
    padding: 5px;
    text-align: justify;
    margin: 0;
    padding: 0 10px;
}
.photo-detail h3{
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 0;
    margin-top: 0;
    align-items: center;
}
.services-photo-frame:hover .photo-detail{
    width: 100%;
    height: 243px;
    display: block;
    background-color: rgba(28, 9, 41, 0.767);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.portfolio i:hover{
    font-size: 30px;
    color: #ffffff;
}
.copy-right{
    background-color: rgb(15, 15, 36);
}
.copy-right a{
    text-decoration: none;
}
.social-icon a:hover i{
    transform: rotate(-25deg);

}
@media (max-width:992px) {
    .desktop-left-menu{
        display: none;
    }
}
/* 
@media (min-width:992px) {
    .scrollable-part{
        margin-left: 200px;
    }
} */