body{
    background-image: url(../images/body-background-3.jpg);
    background-position: fixed;
}
ul li{
    text-align: end;
    list-style: none;
}
.menu-color{
    background-color: #a58484;
    color: rgb(255, 255, 255);
}
.menu-order{
    transition: width 2s;
}
.menu-color:hover{
    background-color: orange;
    width: 100%;
    color: #ffffff;
}


@media (max-width:1000px) {
    .desktop-left-menu{
        display: none;
    }
}
@media (min-width:1000px) {
    .scrollable-part{
        margin-left: 200px;
    }
}